* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

section {
  background-color: #f9f9fb;
  padding: 50px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
  .bloc {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 540px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 50px -10px #d6d6d6;

    .buttons {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);

      .delete-button, .update-button {
        width: 200px;
        height: 60px;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        background-color: #1fb3bf;
        color: white;
        font-size: 1em;
        margin-top: 30px;
        outline: none;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    .container {
      width: 200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #1fb3bf;
      height: 300px;
      padding: 10px;
      border-radius: 15px;
      box-shadow: 0 10px 50px -10px #d6d6d6;
      position: relative;

      .img-patient, .img-rdv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        border-radius: 15px;
      }

      .img-medecin {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        border-radius: 15px;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      .img-patient img {
        max-height: 80%;
        max-width: 80%;
      }

      .img-rdv img {
        max-height: 90%;
        max-width: 90%;
      }

      .info-patient, .info-medecin, .info-rdv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        position: absolute;
        bottom: auto;
        left: 0;
        right: 0;
        color: white;

        .info {
          margin-top: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .bloc {
    flex-direction: column;
    height: auto;

    .container {
      margin-bottom: 20px;
      height: auto;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .img-patient, .img-rdv, .img-medecin {
        display: none;
      }
    }
  }
  #delete {
    position: relative;
    margin-bottom: 10px;
    /* Autres styles */
  }

}
