<section id="summary">
  <h2>Résumé du rendez-vous</h2>
  <div class="bloc">
    <div class="container">
      <div class="info-patient">
        <div class="img-patient">
          <img src="assets/images/patient.png" alt="patient"/>
        </div>
        <div class="info">
          <p >Nom:<span id="nom"></span></p>
          <p>Prenom: <span id="prenom"></span></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="info-rdv">
        <div class="img-rdv">
          <img src="assets/images/clock.png" alt="clock"/>
        </div>
        <div class="info">
          <p>Date: <span id="date"></span></p>
          <p>Heure souhaitée: <span id="heure"></span></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="info-medecin">
        <div class="img-medecin">
          <img src="assets/images/medecin.png" alt="medecin"/>
        </div>
        <div class="info">
          <p>Médecin: <span id="medecin"></span></p>
        </div>
      </div>
    </div>
    <form class="buttons">
      <input class="update-button" type="submit" name="update" value="Modifier">
      <input class="delete-button" type="submit" name="delete" value="Supprimer">
    </form>
  </div>
</section>
