<section id="appointement">
  <div class="container">
    <div class="formulaire">
      <h3>Prendre un rendez-vous</h3>
      <form class="addBookingForm" action="" method="POST" id="addBookingForm" #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)">
        <input placeholder="Nom" type="text" id="nom" name="nom" required class="nom" [(ngModel)]="nom">

        <input placeholder="Prénom" type="text" id="prenom" name="prenom" required class="prenom" [(ngModel)]="prenom">

        <input type="date" id="date" name="date" class="date" [(ngModel)]="date">

        <input placeholder="Entrer l'horaire souaité" type="time" id="heure" name="heure" required class="horaire" [(ngModel)]="heure">

        <select id="medecin" name="medecin" required class="select-medecin" [(ngModel)]="medecin">
          <option value="" disabled selected>Choisir un médecin</option>
          <option value="Sylvie Taurin (Généraliste)">Sylvie Taurin (Généraliste)</option>
          <option value="Alain Dezer (Pédiatre)">Alain Dezer (Pédiatre)</option>
          <option value="David Sarah (Urologue)">David Sarah (Urologue)</option>
          <option value="Christianne Denia (Cardiologue & Neurologue)">Christianne Denia (Cardiologue & Neurologue)</option>
        </select>

        <input class="submit-booking" type="submit" name="submit" value="Prendre rendez-vous">
      </form>
    </div>
    <div id="message"></div>

    <div class="formulaire-image">
      <img src="assets/images/img_rdv.jpg" alt=""/>
    </div>
  </div>
</section>
