* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e4e4ec;
}

section {
  background-color: #f9f9fb;
  padding: 50px;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
    height: 540px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 50px -10px #d6d6d6;

    .formulaire {
      width: 50%;
      margin-right: 35px;

      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
          margin: 10px 0;
          padding: 10px;
          border: none;
          outline: none;
          border-bottom: 2px solid #e4e4ec;
          transition: 0.2s;

          :hover {
            border-bottom: 2px solid #1fb3bf;
          }
        }

        input.submit-booking {
          width: 200px;
          height: 60px;
          cursor: pointer;
          border-radius: 8px;
          border: none;
          background-color: #1fb3bf;
          color: white;
          font-size: 1em;
          margin-top: 30px;
          outline: none;
        }

          .nom, .prenom, .date {
            width: 42%;
          }

          .horaire {
            width: 100%;
          }

          .select-medecin {
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            border: none;
            outline: none;
            border-bottom: 2px solid #e4e4ec;
            transition: 0.2s;

            :hover {
              border-bottom: 2px solid #1fb3bf;
            }
          }
        }


    }
  }

  .formulaire-image {
    width: 40%;
    background-color: #1fb3bf;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 30px 10px;

    .formulaire {
      width: 95%;

      .nom, .prenom, .date, .horaire {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 800px){
  .container {
    justify-content: center;

    .formulaire {
      margin-right: 0;
      width: 80%;

      h3 {
        text-align: center;
        font-size: 20px;
      }
    }
    .formulaire-image {
      display: none;
    }
  }
}
